body{
    margin :0px;
    background-color:rgb(2, 2, 71);
    color:rgb(64, 101, 170);;
}
h1,h2{
    text-align: center;
    background-color:rgb(64, 101, 170);
    font-size: 30px;
    color:rgb(0, 1, 48);
}
ul{
    list-style-type: none;
    background-color: rgba(19, 124, 185, 0.658);
    padding:0px;
    margin:0px;
    overflow: hidden;
}
a{
    font-size: 15px;
    color:rgb(0, 204, 255);
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    display: block;
    text-align: center;
}
a:hover{
    background-color: rgb(25, 102, 133);
}
li{
    float:left;
}
footer{
    color:bisque;
}